body {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

h1 {
  color: #ee6c4d;
  font-family: Arial, Helvetica, sans-serif;
}

.color-bar {
  display: flex;
}


.myButton {
  margin-left: 150px;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
.color-box {
  height: 40px;
  width: 40px;
}

.color-blue {
  background-color: #22ccff;
}
.color-lblue {
  background-color: #a1e7ff;
}
.color-dblue {
  background-color: #004c63;
}
.color-orange {
  background-color: #ffa500;
}
.color-yellow {
  background-color: #e5da04;
}
.color-green {
  background-color: #008000;
}
.color-red {
  background-color: #FF0000;
}
.color-grey {
  background-color: #808080;
}
.color-brown {
  background-color: #A52A2A;
}
.color-black {
  background-color: #000000;
}

.color-purple {
  background-color: #800080;
}